<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvIniciarSesion</servlet-name>
        <servlet-class>Login.srvIniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUsuarios</servlet-name>
        <servlet-class>Usuarios.srvUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvClientes</servlet-name>
        <servlet-class>Clientes.srvClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvArticulos</servlet-name>
        <servlet-class>Articulos.srvArticulos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvArticulos2</servlet-name>
        <servlet-class>Articulos.srvArticulos2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvConfiguracion</servlet-name>
        <servlet-class>Configuracion.srvConfiguracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvVentas</servlet-name>
        <servlet-class>Ventas.srvVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvVentas2</servlet-name>
        <servlet-class>Ventas.srvVentas2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvIniciarSesion</servlet-name>
        <url-pattern>/srvIniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUsuarios</servlet-name>
        <url-pattern>/srvUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvClientes</servlet-name>
        <url-pattern>/srvClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvArticulos</servlet-name>
        <url-pattern>/srvArticulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvArticulos2</servlet-name>
        <url-pattern>/srvArticulos2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvConfiguracion</servlet-name>
        <url-pattern>/srvConfiguracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvVentas</servlet-name>
        <url-pattern>/srvVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvVentas2</servlet-name>
        <url-pattern>/srvVentas2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
